*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f5f5f5;
}

.container{
    max-width:430px;
    margin:auto;
    min-height:100vh;
    padding:15px;
}

/* Banner */

.banner{
    height:220px;

    background:url('/img/fondo3.jpg');
    background-size:cover;
    background-position:center;

    border-radius:25px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.10);
}

.banner-overlay{
    width:100%;
    height:100%;

    background:rgba(0,0,0,.30);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
}

.banner h1{
    font-size:30px;
    margin-bottom:10px;
}

.banner p{
    font-size:15px;
}

/* Bienvenida */

.aviso{
    background:white;

    margin-top:20px;

    padding:20px;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.aviso h2{
    color:#b59b45;
    margin-bottom:10px;
}

/* Menu */

.menu-grid{
    margin-top:20px;

    display:grid;
    grid-template-columns:1fr 1fr;

    gap:15px;
}

.card{
    background:white;

    border-radius:20px;

    padding:20px;

    text-align:center;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:80px;
    height:80px;

    object-fit:contain;

    margin-bottom:15px;
}

.card h3{
    color:#333;
}

/* Emergencias */

.emergency-card{
    margin-top:20px;

    background:linear-gradient(
        135deg,
        #d9534f,
        #b52b27
    );

    color:white;

    border-radius:20px;

    padding:20px;

    display:flex;
    align-items:center;

    gap:15px;

    box-shadow:0 8px 20px rgba(181,43,39,.25);

    cursor:pointer;

    transition:.3s;
}

.emergency-card:hover{
    transform:translateY(-3px);
}

.emergency-card img{
    width:70px;
    height:70px;
    object-fit:contain;
}

.emergency-card h2{
    margin-bottom:5px;
}

.emergency-card p{
    font-size:14px;
}

/* Información */

.noticias{
    margin-top:20px;
}

.noticias h2{
    color:#b59b45;
    margin-bottom:15px;
}

.noticia{
    background:white;

    padding:15px;

    margin-bottom:10px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.05);
}

/* Footer */

.footer{
    text-align:center;

    margin-top:25px;

    padding:15px;

    font-size:12px;

    color:#777;
}
/* Comité */

.comite{
    margin-top:15px;
}

.miembro{
    background:#f8f8f8;
    border-left:4px solid #b59b45;

    padding:12px;

    margin-top:10px;

    border-radius:10px;

    color:#333;
}

.miembro strong{
    color:#b59b45;
}

/* Comité */

.btn-comite{
    width:100%;

    border:none;

    background:linear-gradient(
        135deg,
        #d2c26a,
        #b59b45
    );

    color:white;

    padding:15px;

    border-radius:15px;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.btn-comite:hover{
    transform:translateY(-2px);
}

.comite-info{
    display:none;
    margin-top:15px;
}

.miembro{
    background:#f8f8f8;

    border-left:4px solid #b59b45;

    padding:12px;

    margin-top:10px;

    border-radius:10px;

    color:#333;
}

.miembro strong{
    color:#b59b45;
}
